@import "variables";
@import "mixins";

body {
  @include ft-light;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  place-items: center;
  margin: 0;
}

#root {
  display: inherit;
  flex-direction: inherit;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
