.header-appbar {

    .header-container {
        margin: 0;
        padding: 0;
    }

    .header-toolbar {
        height: 64px;
        padding: 0;

        //
        // Medium breakpoint
        //
        .header-toolbar-md-icon {
            margin: 16px;
            color: white;
        }

        .header-toolbar-md-menu-div {
            flex-grow: 1;
            height: 100%;

            .header-toolbar-md-menu-item {
                display: flex;
                align-items: center;
                padding: 0% 2% 0% 2%;
                height: 100%;
                min-width: 64px;
                color: white;

                &:hover {
                    color: white;
                    background-color: #66B2FF;
                }
            }

            .header-toolbar-md-menu-item-active {
                background-color: #66B2FF;
            }
        }

        //
        // Extra-small breakpoint
        //
        .header-toolbar-xs-menu-div {
            width: calc(50% - 12px);

            .header-toolbar-xs-menu-icon-btn {
                outline: none;
            }
        }

        .header-toolbar-xs-icon {
            color: white;
        }
    }
}

// XS Menu Item is out of the current DOM due to <Menu /> component
.header-toolbar-xs-menu-item {
    padding: 0 !important;

    .header-toolbar-xs-menu-item-link {
        min-height: 36px;
        padding: 8px 16px;
        width: 100%;
    }
}
